:root {
    /* Esquema de Cores */
    --primary-color: #4285f4;
    --primary-color-rgb: 66, 133, 244;
    --primary-dark: #3367d6;
    --secondary-color: #34a853;
    --text-color: #333333;
    --text-dark: #ffffff;
    --text-light: #666666;
    --text-ldark: #222222;
    --background: #ffffff;
    --background-alt: #f5f7fa;
    --accent: #fbbc05;
    --error: #ea4335;

    /* Espaçamentos */
    --spacing-xs: 0.5rem;
    --spacing-sm: 1rem;
    --spacing-md: 2rem;
    --spacing-lg: 3rem;
    --spacing-xl: 5rem;

    /* Borda */
    --border-radius: 8px;

    /* Transições */
    --transition: all 0.3s ease;

    /* Cores para Modo Escuro */
    --dark-background: #121212;
    --dark-background-alt: #1e1e1e;
    --dark-text-color: #f5f5f5;
    --dark-text-light: #aaaaaa;
}