<header>
  <div class="container">
    <div class="logo">
      <h1>DA</h1>
    </div>
    <nav>
      <ul class="nav-links">
        <li><a href="#home" class="nav-link">Início</a></li>
        <li><a href="#about" class="nav-link">Sobre</a></li>
        <li><a href="#skills" class="nav-link">Habilidades</a></li>
        <li><a href="#contact" class="nav-link">Contato</a></li>
      </ul>
      <!-- Alternador de tema -->
      <div class="theme-toggle">
        <i class="fas fa-sun"></i>
        <label class="switch">
          <input type="checkbox" id="theme-switch">
          <span class="slider round"></span>
        </label>
        <i class="fas fa-moon"></i>
      </div>
      <div class="hamburger">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
    </nav>
  </div>
</header>