/*
  Este arquivo é para classes de utilidade.
  Você pode adicionar classes como:

  .text-center { text-align: center; }
  .mt-2 { margin-top: 2rem; }
  .hidden { display: none; }

  Adicione conforme necessário para o seu projeto.
*/